<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/main.css" rel="stylesheet">
    <title>메모장</title>
</head>
<body>
    <table>
        <tr>
            <th>번호</th>
            <th th:text="${memo.idx}"></th>
        </tr>
        <tr>
            <td class="huge-height">내용</td>
            <td th:text="${memo.contents}">
            </td>
        </tr>
    </table>
    <div class="center">
        <button onclick="window.location='/'">목록</button>
        <button th:onclick="|window.location='/memos/${memo.idx}/form'|">수정</button>
        <button onclick="goDelete()">삭제</button>
    </div>
</body>
<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    const form = document.createElement('form');
    form.setAttribute('method', 'post');
    form.setAttribute('action', '/memos/[[${memo.idx}]]');
    form.setAttribute('id', 'form');
    document.characterSet = 'utf-8';

    const input = document.createElement('input');
    input.setAttribute('type', 'hidden');
    input.setAttribute('name', '_method');
    input.setAttribute('value', 'delete');
    form.appendChild(input);
    document.body.appendChild(form);

    function goDelete() {
        form.submit();
    }
    /*]]>*/
</script>
</html>