<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/main.css" rel="stylesheet">
    <title>메모장</title>
</head>
<body>
    <form id="update" method="post" th:action="|/memo/${memo.idx}|" th:object="${memo}" action="#">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" th:field="*{idx}" name="idx" th:value="${memo.idx}">
        <table>
            <tr>
                <th>번호</th>
                <th th:text="${memo.idx}"></th>
            </tr>
            <tr>
                <td class="huge-height">내용</td>
                <td>
                    <div class="container">
                        <textarea th:field="*{contents}" name="contents" class="text-area" th:text="${memo.contents}"></textarea>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <div class="center">
        <button onclick="window.location='/'">목록</button>
        <button onclick="goUpdate()">수정</button>
        <button onclick="goDelete()">삭제</button>
    </div>
    <form id="delete" method="post" th:action="|/memo/${memo.idx}|" action="#">
        <input type="hidden" name="_method" value="delete">
    </form>
</body>
<script type="text/javascript">

    function goUpdate() {
        document.getElementById("update").submit();
    }

    function goDelete() {
        document.getElementById("delete").submit();
    }
</script>
</html>